table{
  

  height:500px;
  width:600px;
   margin-left: auto;
  margin-right:auto;
}

table, td{

 border-collapse:collapse;
  border: 1px solid;
  

  
}

td{
  
  height:80px;
  width:100px;
  
}



.wall{
  background-color: grey;
}

.target{
  
  background-color: blue;
  
}

.ground,player{
 text-align:center;
  height: 80px;
  width:100px;
  
}

:-D{
  color: red;
}

.ground,crate{
  text-align:center;
  height: 80px;
  width:100px;
  
}
